extends template

prepend page
  - var layout = 'test';
  - var currentPage = 'test';

block content
  .page.page--test
    .page__img: img(src="build/img/test.png")
    .page__content
      .section
        .section__title.tp-heading--huge Ты был <br/>плохим <br/>мальчиком?
        .section__test
          form.test__form.js-test-form(data-test="boy")
            each item, index in testBoys
              .test.js-test-ctrl(class="test--#{index}")
                .test__question.my-5
                  .test__question-text.tp-heading--large !{item.question}
                  .test__variants.mt-5
                    each variant, i in item.variants
                      label.test-ctrl.mb-3(for="test-#{index}-#{i}")
                        .test-ctrl__radio.mr-4
                          input(id="test-#{index}-#{i}" type="radio" name="test-#{index}" value=variant.score)
                          .check
                        .test-ctrl__text.tp-body--main !{variant.text}
                .test__btn
                  button.btn.js-test-btn Далее